.App {
  background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
  padding: 50px;
}

.App footer {
  color: white;
  display: block;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.git-link {
  text-decoration: underline;
  color: white;
}
