.App {
  background-image: linear-gradient(
    to bottom,
    #f78ca0 0%,
    #da7368 35%,
    #c8685f 65%,
    #6b2224 100%
  );
  border: 8px solid black;
  padding: 50px;
}

.App footer {
  color: black;
  display: block;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.music {
  display: block;
}

.git-link {
  text-decoration: underline;
  color: black;
}
