div.forecastCard {
  padding: 15px;
  background-color: rgba(243, 238, 236, 0.199);
  border-radius: 15px;
  width: 200px;
  height: auto;
  margin: 0;
  display: block;
  margin-bottom: 15px;
  margin-right: 15px;
}

#time {
  text-align: center;
  display: block;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  font-weight: 600;
}

#forecast-temp {
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  display: block;
  padding-top: 15px;
}

#WeatherForecast canvas {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: white !important;
}

#WeatherForecast.row {
  margin: 0 auto;
  display: flex;
}
