.Weather {
  padding: 20px;
  display: block;
}
.weather-title {
  color: black;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
}

div.weather-card-main {
  border: 1px solid black;
  padding: 40px;
  background-color: rgba(246, 220, 212, 0.2);
  width: 500px;
  height: 350px;
  margin: 0 auto;
  display: block;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #01c5c4;
  text-decoration: none;
}
.form {
  padding: 10px;
}

.navbar {
  background-color: transparent !important;
  margin: 0 auto;
  padding: 5px;
  padding-bottom: 20px;
  padding-left: 65px;
  padding-right: 65px;
}

.navbar-brand {
  color: black !important;
  font-family: "Quicksand", sans-serif;
  font-style: bold;
  font-size: 30px;
}

.form-control {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 0;
}

.btn {
  color: white;
  background-color: black;
  border-color: black;
  border-radius: 0%;
  margin: 0 auto;
}

.btn:hover {
  color: white;
  background-color: #01c5c4;
  border-color: #01c5c4;
  border-radius: 0%;
  margin: 0 auto;
}

#date-description {
  margin: 0 auto;
  text-align: center;
  padding: 0;
  padding-bottom: 30px;
}

ul {
  margin: 0 auto;
  padding: 0;
}

.Weather li {
  color: black;
  text-decoration: none;
  list-style: none;
  display: inline;
  padding: 0px;
  margin: 0 auto;
}

#my-music {
  min-width: 600px;
  height: 350px;
  margin: 0 auto;
  display: block;
  border: 1px solid black;
}

.row {
  padding: 0px;
  margin: 0 auto;
}

div.col-6 {
  padding: 0px;
  margin: 0 auto;
}

#weather-list {
  text-align: left;
  font-size: 15px;
  padding: 0px;
  margin: 0 auto;
  margin-left: 25px;
}

.Weather canvas {
  height: 64px;
  display: inline-block;
  margin: 0 auto;
  padding-right: 0 px;
}

#main-temp {
  font-size: 50px;
  margin-bottom: 0px;
  color: black;
  padding-right: 5px;
}

#celsius {
  font-size: 25px;
  color: black;
  vertical-align: super;
}

#farenheit {
  font-size: 25px;
  color: black;
  vertical-align: super;
}

#slash {
  font-size: 25px;
  color: black;
  vertical-align: super;
}
