.Weather {
  padding: 20px;
  display: block;
}
.weather-title {
  color: white;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 5px0;
}

div.weather-card-main {
  padding: 40px;
  background-color: rgba(243, 238, 236, 0.199);
  width: 500px;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: 15px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #a1776c;
  text-decoration: none;
}
.form {
  padding: 10px;
}

.navbar {
  background-color: transparent !important;
  margin: 0 auto;
  padding: 5px;
  padding-bottom: 20px;
  padding-left: 65px;
  padding-right: 65px;
  margin-bottom: 20px;
}

.navbar-brand {
  color: white !important;
  font-family: "Quicksand", sans-serif;
  font-style: bold;
  font-size: 30px;
}

.form-control {
  background-color: transparent;
  border: 1px solid white;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 5px;
}

.btn {
  color: #a1776c;
  background-color: white;
  border-color: white;
  border-radius: 5px;
  margin: 0 auto;
}

.btn:hover {
  color: white;
  background-color: rgba(243, 238, 236, 0.199);
  border-color: white;
  margin: 0 auto;
}

#date-description {
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  padding-bottom: 15px;
}

ul {
  margin: 0 auto;
  padding: 0;
  font-weight: 400;
}

.Weather li {
  color: white;
  text-decoration: none;
  list-style: none;
  display: inline;
  padding: 0px;
  margin: 0 auto;
}

.row {
  padding: 0px;
  margin: 0 auto;
}

div.col-6 {
  padding: 0px;
  margin: 0 auto;
}

#weather-list {
  text-align: left;
  font-size: 14px;
  padding: 0px;
  margin: 0 auto;
  margin-left: 50px;
  margin-top: 5px;
}

.Weather canvas {
  height: 64px;
  display: inline-block;
  margin: 0 auto;
  padding-right: 0 px;
}

#main-temp {
  font-size: 50px;
  margin-bottom: 0px;
  color: white;
  padding-right: 5px;
  margin-right: 10px;
}

#celsius {
  font-size: 20px;
  font-weight: 400;
  color: white;
  vertical-align: super;
}

#farenheit {
  font-size: 20px;
  font-weight: 400;
  color: white;
  vertical-align: super;
}

#slash {
  font-size: 20px;
  font-weight: 400;
  color: white;
  vertical-align: super;
}

.Weather canvas {
  margin-top: 5px;
}
